h1{
	text-align: center;
	color: #000000 ;
}

.second{
	
	width: 200px;
	margin: auto;
}

.third{
	margin: auto;
	width: 500px;

}

p{
	color: #ffffff;
	margin-top:650px;
    text-align: center;


}


.first{
		background-color:	#bfbfbf;
	opacity: 0.4;
	height: 600px;
	margin: auto ;
	position: relative;
}

body {

	background-image: images/first.jpg;
	background-repeat: no-repeat;
	
}

.links{

	font-size: 20px;
	
	margin:100px auto;
	width: 200px;
}