h1{
	text-align: center;
	color: #ffffff ;
}

.second{
	float: right;
	
	margin: 30px;
}

.third{
	margin: auto;
	width: 200px;

}

p{
	color: #334354;
	margin-top: 90%;
    text-align: center;


}

.first{
	background-color: #ccccff;
	height: 600px;
	margin: auto ;
	position: relative;
}

body{

	background: images/first.jpg;
}